/* your code */
#thead{
	width:100%;
	border:1px solid black;
	background-color:blue;
	color:white;
	text-align:center;
	padding:10px;
}
#tbody{
	:nth-child(even){
		background-color:lightgray;
	}
	text-align:center;
	padding:10px;
	width:100%;
}

}

